body{
    

    height: 100%;
}

main{
    
    background: red;
    height: 600px;
}

body main a{
    background: none;
    width: 100%;
    color: white;
    
}

body a{
    
    color: black;
    
}